$footer-bg: $purple;
$footer-color: $white;
$footer-font: $josefin;
$footer-link-hover: $green;
$footer-nav-font: $josefin;


footer{
    padding: 30px 0;
    background-color: $footer-bg;

    .copyright{
        text-align: center;
        color: $footer-color;
    }

    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;

        
            a{
                display: block;
                padding: 5px 0;
                color: $footer-color;
                text-align: center;
                font-family: $footer-nav-font;
                text-transform: uppercase;
                font-weight: $font-bold;

                &:hover, &.active{
                    color: $footer-link-hover;
                }
            }
        
    }
}

@media(min-width:768px){
    footer{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                padding: 5px 50px;
            }

        }

    }
}

/*footer a, footer p{
    color: $footer-color;
}*/

